# Ignore .env files anywhere in the project
.env

# Ignore node_modules directories anywhere in the project
node_modules/

# Optional: Ignore temporary files, logs, and other typical files generated during development
*.log
*.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.swp
*.swo
.DS_Store
.idea/
.vscode/
myenv/